---
import Picture from "astro/components/Picture.astro"
import landingImage from "../assets/images/cabinets2.jpg" // The asset must be imported from src
const { title } = Astro.props
---

<section id="int-hero">
<h1 id="home-h">{title}</h1>

<!-- standard <picture> attributes are supported. Set loading to lazy for assets below the fold -->
<Picture 
    src={landingImage}
    formats={['avif', 'webp']} 
    alt="A description of my image."
    aria-hidden="true" 
    decoding="async"
    alt="kitchen cabinets"
    loading="eager"
/>

</section>

<style lang="css">
    
/* Interior Page Header */

/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    min-height: 30vh;
    padding-top: 3.125rem; /* 50/16rem */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  #int-hero::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #int-hero picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  #int-hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  #int-hero h1 {
    font-size: 4.267rem; /* 64/15rem */
    text-align: center;
    width: 96%;
    max-width: 31.25rem; /* 500/16rem */
    margin: 0 auto;
    margin-top: 4.375rem; /* 70/16rem */
    margin-bottom: 1.875rem; /* 30/16rem */
    color: #fff;
    position: relative;
  }

  #int-hero p {
    text-align: center;
    width: 96%;
    max-width: 25rem; /* 400/16rem */
    margin: auto;
    margin-bottom: 1.875rem; /* 30/16rem */
    color: #fff;
    display: block;
  }
}

/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 100%;
  }

  #int-hero h1 {
    font-size: 4rem; /* 64/16rem */
  }
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    font-size: inherit;
    height: auto;
    min-height: 18.75rem; /* 300/16rem */
    padding-top: 11.25rem; /* 180/16rem */
    background-attachment: fixed;
    padding-block-end: 6.25rem; /* 100/16rem */
  }
}

</style>