---
import Icon from '../../utility/icon';
interface Props {
  button_text: string;
  button_link: string;
  background_color: string;
  hover_brightness: number;
  text_color: string;
}

const block = Astro.props;
const hover_brightness = block.hover_brightness;
---

<button style={`background-color: ${block.background_color};`} class="button">
  <a style={`color: ${block.text_color}`} href={block.button_link}>
    {block.button_text}
  </a>
</button>

<style define:vars={{ hover_brightness }}>
  .button {
    font-size: 1rem;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 0;
  }
  .button a {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    padding: 0 1.5rem;
    font-size: 1rem;
  }
  .button a:hover {
    backdrop-filter: brightness(var(--hover_brightness));
  }
</style>
